<h2>All Heroines</h2>
  <% @heroines.each do |heroine| %>
      <%= link_to heroine.super_name, heroine_path(heroine) %><br>
      <%= link_to "Delete", heroine, method: :delete, data: { confirm: "YOU SURE?!?" } %><br>
  <% end %>