<h2><%= @heroine.name%></h2>
<br>
<label>Her Super Name:</label>
<br>
<%= @heroine.super_name%>
<br><br>
<label>Power:</label>
<br>
<%= link_to @heroine.power.name, power_path(@heroine.power)%><br>
<br><br>


